* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
}

.center{
    padding-left: calc(50% - 800px);
    padding-right: calc(50% - 800px);
}

.header {
    padding-top: 18px;
    padding-bottom: 18px;
    max-height: 74px;
    background: #222;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 800px;
}

.logo {
    width: 44px;
    height: 38px;
}

.header_btns_1 {
    display: flex;
    align-items: flex-end;
    gap: 35px;
}

.header_btns_2 {
    display: flex;
    align-items: center;
    gap: 30px;
}

.top_content {
    background: #F1E4E6;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-start;
}

.text {
    max-width: 377px;
    min-height: 93px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
}

h1 {
    color: #222;
    font-family: Lato;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

p {
    color: #222;
    font-family: Lato;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

p span {
    color: #F16D7F;
    font-family: Lato;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.offer {
    max-width: 1525px;
    margin-top: 65px;
    display: flex;
    gap: 30px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.products {
    max-width: 1525px;
    margin-top: 47px;
    display: flex;
    gap: 30px;
    margin-bottom: 48px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.product1 {
    background: F8F8F8;
    display: flex;
    flex-direction: column;
}

.product2 {
    position: relative;
}

.image2 {
    position: absolute;
    left: 109px;
    margin-top: 10px;
}

.h2 {
    margin-top: 96px;
    color: #222;
    font-family: Lato;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
}

.h5 {
    margin-top: 6px;
    color: #9F9F9F;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
}

.h3 {
    margin-top: 25px;
    margin-left: 16px;
    width: 149px;
    color: #000;
    font-family: Lato;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.p1 {
    margin-top: 16px;
    margin-bottom: 16px;
    margin-left: 16px;
    width: 314px;
    color: #5D5D5D;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.p2 {
    margin-left: 16px;
    color: #F16D7F;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

button {
    width: 212px;
    height: 48px;
    border-color: #FF6A6A;
    background: none;
    color: #F26376;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0 auto;
    display: block;
    margin-bottom: 70px;

}

@media (max-width: 1024px) {
    .center {
        padding-left: calc(50% - 512px);
        padding-right: calc(50% - 512px);
    }

    .header {
        max-width: 1024px;
        background: #222;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        gap: 370px;
    }

    .top_content {
        background: #F1E4E6;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 16px;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
    }

    .width {
        width: 368px;
    }

    .width1 {
        width: 232px;
    }

    .width2 {
        width: 756px;
    }

    .text {
        width: 283px;
        height: 78px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
    }

    h1 {
        color: #222;
        font-family: Lato;
        font-size: 44px;
        font-style: normal;
        font-weight: 900;
        line-height: normal;
    }
    
    p {
        color: #222;
        font-family: Lato;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
    
    p span {
        color: #F16D7F;
        font-family: Lato;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
}